// Add your custom CSS here.
#header, #ec-user-popover, #cart-button button {
  background: #fff;
}
#ec-user-popover, #cart-button button {
  color: #b20000;
  border: none;
}
.products-carousel__title a::after {
  content: ' + Ver mais';
  font-size: 0.80rem;
  font-weight: bold;
  padding:  0.5rem;
  color: #9d0b0b !important;
}
.products-carousel__title {
text-transform: uppercase;
color: #9D0B0B;
font-weight: 700;
}
.footer {
  background: #454444;
}
.footer, .footer__title, .footer a {
  color: #fff;
}
.footer__credits {
  text-align: center;
}
// Mensagem frete grátis
.ec-shipping__services::before {
  content: 'Frete grátis acima de R$ 250,00 para região sudeste';
  font-weight: bold;
  font-size: 13px;
  color: #333;
}
